{{#> includes/layouts/default }}
{{#*inline "content"}}

<div style="background: red;">
    {{> includes/test text="hey"}}
    {{> includes/test text="hello"}}
    {{> includes/test text="world"}}
</div>

{{/inline}}
{{/includes/layouts/default }}