.banner-category {
  @extend .banner;
  background-color: $darkBg;
  text-align: center;
  padding: 0;
  z-index: 1;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__img-overlay {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      transparent,
      transparentize($darkAccent, 0.5)
    );
    z-index: -1;
  }

  &__title {
    margin: 30px;
    font-size: 2.4rem;
  }
}
