.button-secondary {
  padding: 5px 15px;
  color: $darkAccent;
  border: 1px solid;
  border-color: $darkAccent;

  font-size: 1.2rem;

  &:focus,
  &:active,
  &:hover {
    box-shadow: 0 0 2px 1px $textColor;
  }

  &.color {
    color: $primaryColor;
    border-color: $primaryColor;
  }

  &.icon {
    padding: 5px;
    border-radius: 3px;
  }

  &--thicker {
    border: 2px solid $darkBg;
    color: $darkBg;
    font-weight: 300;
  }

  &--primary-focus:focus {
    box-shadow: 0 0 2px 1px $primaryColor;
  }

  &--large {
    font-size: 2rem;
  }

  @include media-gte-sm {
    &--categorie-main-md {
      font-weight: 300;
      border: 2px solid $darkBg;
      color: $darkBg !important;
      border-color: $darkBg !important;
    }
  }
  @include media-gte-lg {
    &--categorie-main-lg {
      font-weight: 300;
      border: 2px solid $darkBg;
      color: $primaryColor !important;
      border-color: $primaryColor !important;

      .categorie-main.color & {
        color: $darkBg !important;
        border-color: $darkBg !important;
      }
    }
  }
}
