.card {
  position: relative;
  background-color: #46b6ae;
  min-width: 290px;
  width: 350px;
  height: 580px;
  border-radius: 30px;
  .card__img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #f1f1f1;
    min-height: 250px;
    img {
      display: none;
    }
  }
  .card__description {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 70px;
    background-color: #46b6ae;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 2.5px 1.5px 8px -4px black;

    .card__description--title {
      margin: auto;
      width: 255px;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .price_see-more-btn__container {
    position: relative;
    display: flex;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    width: 260px;
    height: 50px;

    .price__box {
      font-size: larger;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #46b6ae;
      background-color: white;
    }
    .see-more__box {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #6d7171;

      button {
        color: inherit;
        background-color: inherit;
      }
    }
  }
  .iva_text {
    margin-top: 10px;
    padding-left: 75px;
    text-align: left;
    font-size: small;
  }

  .card__add-to-cart-field {
    position: relative;
    margin-top: 45px;
    display: flex;
    justify-content: center;

    button {
      background-color: white;
      box-shadow: 2px 2px 3px 2px gray;
      border-radius: 10px;
      text-align: center;
      margin-top: 7px;
      margin-left: 20px;
      color: #46b6ae;
      width: 150px;
      height: 36px;
    }

    .input--div {
      margin-left: 15px;
      width: 120px;
      height: 50px;

      input {
        background-color: #46b6ae;
        color: #f1f1f1;
        text-align: right;
        border-radius: 10px;
        border: 1.5px solid white;
        width: 60px;
        margin-top: 5px;
      }
    }
  }

  // span + y -
  .span_add {
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .span_subtrac {
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #f1f1f1;
  }
}
