.products-list {
	@include flexAlignCenter;
	width: 100%;
	align-content: flex-start;
	flex-wrap: wrap;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	background: url('./images/lightbg-cropped.jpg');
	background-color: $lightGrey;

	&__item-container {
		margin: 10px;
		max-width: 300px;

		& > a {
			display: flex;
		}
	}
}
