// COLORS
$primaryColor: #46b6ae;
$secondaryColor: #5db225;
$darkBg: #3c3c3c;
$textColor: #f1f1f1;
$darkAccent: #1f2021;
$lightGrey: #cecece;
$midGrey: #7c7c7c;
$redishGrey: #a69498;
$errorColor: #ce2d10;

// MEDIA QUERY GLOBALS
$headerHeight-sm: 60px;
$headerHeight-md: 80px;

$sideSpace-sm: 5px;
$sideSpace-md: 30px;
