.button-banner-1 {
  position: relative;
}

.button-banner-1::after {
  position: absolute;
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  background: url("../assets/images/banner-click.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  padding-left: 16px;
}

.banner-1 {
  background-image: url(../assets/images/banner-shape1.png),
    url(../assets/images/banner-shape2.png),
    linear-gradient(to right, #46b6ae, #def0ef 40%);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom right;
  background-size: 120px, 120px, cover;
}

.text-banner-1 {
  font-size: 1.1rem;
}

@media (min-width: 500px) {
  .text-banner-1 {
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .text-banner-1 {
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: 2px;
  }
  .banner-1 .cta-button--large {
    font-size: 1rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1100px) {
  .text-banner-1 {
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: 3px;
  }

  .banner-1 {
    background-size: 300px, 300px, cover;
  }
}

@media (min-width: 1211px) {
  .text-banner-1 {
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 3px;
  }
}

.banner-2 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(../assets/images/image-banner-2.png) center/cover;
}

.text-1-banner-2 {
  font-size: 0.9rem;
}

.logo-banner-2 {
  max-width: 80px;
  margin-left: 16px;
}

.text-2-banner-2 {
  font-size: 0.9rem;
}

@media (min-width: 450px) {
  .text-1-banner-2 {
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
}

@media (min-width: 550px) {
  .text-2-banner-2 {
    font-size: 1rem;
  }

  .logo-banner-2 {
    max-width: 160px;
    margin-left: 16px;
  }
}

.banner-3 {
  background: linear-gradient(to right, #46b6ae, #def0ef 40%);
}

.banner-3 h3 {
  line-height: 1.4;
}

.truck-banner-3 {
  width: 60px;
}

.button-banner-3 {
  padding-left: 16px;
  padding-right: 16px;
}

.express-banner-3 {
  position: absolute;
  top: 50%;
  right: -250px;
  transform: translateY(-50%);
}

.express-banner-3 img {
  width: 55vw;
}

@media (min-width: 400px) {
  .truck-banner-3 {
    width: 20vw;
    margin-left: -5vw;
  }
}
@media (min-width: 500px) {
  .truck-banner-3 {
    width: 20vw;
    margin-left: -12vw;
  }
}

@media (min-width: 500px) {
  .truck-banner-3 {
    width: 125px;
    margin-left: -50px;
  }
}

@media (min-width: 500px) {
  .truck-banner-3 {
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .express-banner-3 {
    right: -390px;
  }

  .button-banner-3 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1200px) {
  .express-banner-3 {
    right: -40%;
  }
}

.banner-4 {
  background: linear-gradient(to right, rgba(#0d5853, 0.8), rgba(0, 0, 0, 0.1)),
    url(../assets/images/image-banner-4.png) center/cover;
}

.casi-x-banner-4 {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0;
  height: 140%;
  z-index: 0;
}

.casi-x-banner-4 img {
  height: 140%;
  width: auto;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .text-1-banner-4 {
    font-size: 1.1rem;
  }
  .text-2-banner-4 {
    font-size: 1rem;
  }
}

.slider__slide--no-overlay::after {
  content: none !important;
}
