.cart-item__qta {
  display: flex;
  align-items: center;
}

.cart-item__qta-number {
  width: 70px;
  text-align: center;
  margin-bottom: 0;
}

.cart-item__qty-modifier {
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
}

.cart-item__qty-add,
.cart-item__qty-remove {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  padding: 10px;
  color: #555;
  font-size: 1.6rem;
  box-shadow: 2px 2px 4px #00000055;
  border-radius: 4px;
}

.js-cart-total-updating .cart__actions .cta-button {
  background-color: #999;
  cursor: not-allowed;
}

.js-cart-total-updating .cart__bottom .summary-line__price-container * {
  color: #999;
}

.main-popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.main-popup.open {
  visibility: visible;
  opacity: 1;
}

.main-popup-content {
  width: auto;
  position: relative;
}

.main-popup img {
  width: auto;
  max-width: 90vw;
}

.main-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #00000055;
}

.main-popup-close::after,
.main-popup-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e21313;
  box-shadow: 1px 1px 5px #00000055;
}

.main-popup-close::after {
  transform: translateY(-50%) rotateZ(45deg);
}

.main-popup-close::before {
  transform: translateY(-50%) rotateZ(-45deg);
}

.main-popup-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 18.2px;
  box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.3);
}

.benefits-list__image-item > img {
  max-width: 290px;
}

@media (max-width: 418px) {
  a.button-secondary.button-secondary--primary-focus {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
  }
}

.banner-info__img-container {
  position: relative;
}

.banner-info__img-logo {
  position: absolute;
  left: 6%;
  bottom: 5%;
  width: 30%;
}

.phone-fixed-button {
  z-index: 10000;
}

.footer__phones-list.phones-list {
  width: 100%;
}
@media (min-width: 1024px) {
  .footer__phones-list.phones-list {
    width: min-content !important;
    justify-content: start !important;
  }

  .footer__phones-list.phones-list > * {
    width: max-content !important;
  }
}

.js-nav-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.js-nav-backdrop.open {
  visibility: visible;
  opacity: 1;
}
